<div class="container container-fluid">
		<!-- div.row -->
		<div class="row" style="margin-top:100px;">
			<!-- div.
			col-xs-3
			col-sm-4
			col-md-6
			col-lg-12 -->
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align:center;">

				<h1>Welcome to my site!</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<!-- 插图片 -->
<div class="row" style="margin-top:100px;">
			<!-- div.
			col-xs-3
			col-sm-4
			col-md-6
			col-lg-12 -->
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align:center;">
		
				<img src="/image/image1.jpg" alt="" class="header_image1">
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>