<nav class="navbar navbar-default">
		<div class="container contrainer-fluid">
			<!-- put your nav bar here -->
<!-- div.navbar-brand -->
		<div class="navbar-brand" style="padding: 0px;"><img src="/image/image1.jpg" alt="" style="height:50px;"></div>

			<ul class="nav navbar-nav">
		<!-- li>a -->
				<li><a href="#">link1</a></li>
				<!-- li>a[#]{link2} -->
				<li><a href="#">link2</a></li>
			</ul>
<!-- 下拉菜单 -->
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" aria-haspopup="true">my links <!-- span.caret --> 
					<span class="caret"></span>
					</a>
<!-- ul>li*3 -->
					<ul class="dropdown-menu">
			<!-- (li>a)*3 -->
						<li><a href="#">link1</a></li>
						<li><a href="#">link2</a></li>
						<li><a href="#">link3</a></li>
					</ul>


				</li>
			</ul>


		</div>
	</nav>
<!-- header -->
<div name="this is header" class="link1_header">
	<div class="container container-fluid">
		<!-- div.row -->
		<div class="row" style="margin-top:30px;">
			<!-- div.
			col-xs-3
			col-sm-4
			col-md-6
			col-lg-12 -->
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align:center;">

				<h1>Welcome to my site!</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<!-- 插图片 -->
<div class="row" style="margin-top:30px;">
			<!-- div.
			col-xs-3
			col-sm-4
			col-md-6
			col-lg-12 -->
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align:center;">
		
				<img src="/image/image1.jpg" alt="" class="header_image1" style="height:80px">
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>